#fieldset-contacts {
  margin-bottom: 1em;
}

#fieldset-contacts legend {
  font-weight: bold;
}

.emails td.address input, .phones td.phone-number input {
  width: 17em;
}

table td.warning {
  color: red;
  font-size: 0.8em;
}

table tr.contact-names {
  font-size: 0.8em;
  text-align: center;
}

.emails-phones {
  overflow: auto;
}

.emails, .phones {
  float: left;
  width: 44%;
}
