fieldset.emails, fieldset.phones {
  margin-bottom: 1em;
  width: 36em;
}

.emails td.address input, .phones td.phone-number input {
  width: 17em;
}

table td.warning {
  color: red;
  font-size: 0.8em;
}
