.title-combo {
  overflow: auto;
}

.title, .create-link {
  float: left;
}

.create-link {
  margin-left: 1em;
  margin-top: 1.3em;
}

table#categories, table#stocks {
  text-align: left;
}

table#categories th, table#stocks th {
  padding-right: 2em;
}

table#stock-items {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

table#stock-items th {
  color: #4183C4;
}

table#stock-items th.price, table#stock-items th.total {
  text-align: right;
}

table#stock-items tr {
  border-bottom: 1px solid #CCC;
}

table#stock-items th, table#stock-items td {
  padding: 0.4em 0.4em 0 0;
  vertical-align: top;
}

table#stock-items td.actions {
  border: none;
  margin: 0.2em 0 0 1em;
  padding: 0;
  position: absolute;
}

table#stock-items td.tax {
  width: 4.5em;
}

table#stock-items td.quantity input, table#stock-items td.discount input, table#stock-items td.tax input {
  width: 4em;
}

table#stock-items td.price, table#stock-items td.total {
  text-align: right;
}

table#stock-items td.price {
  width: 4.5em;
}

table#stock-items td.total {
  padding-right: 0;
  width: 5em;
}

table#stock-items-total {
  border-collapse: collapse;
  float: right;
  width: 15em;
}

table#stock-items-total td.amount {
  text-align: right;
}


table#stock-items-total td.amount {
  width: 5.7em;
}

#total-section {
  overflow: auto;
}

.inline-stock-item {
  display: none;
}

.ui-menu .ui-menu-item a span {
  font-size: 60%;
  font-style: italic;
}

table#stocks th.price {
  width: 3.5em;
}
