.title-combo {
  overflow: auto;
}

.title, .create-link {
  float: left;
}

.create-link {
  margin-left: 1em;
  margin-top: 1.3em;
}

table#categories, table#stocks {
  text-align: left;
}

table#categories th, table#stocks th {
  padding-right: 2em;
}

table#stock-items {
  text-align: left;
}

table#stock-items th, table#stock-items td {
  padding-right: 1em;
}

.inline-stock-item {
  display: none;
}
