{% extends "fcds/base.html" %}

{% block fcds-breadcrumb %}
File Commodity Datas
{% endblock %}

{% block fcds-content %}
<ul>
  <li><a href="{% url companies:index %}">Company's Profile</a></li>
  <li><a href="{% url stocks:index %}">File Commodity Datas</a></li>
  <li><a href="{% url stocks:categories:index %}">Categories</a></li>
  <li><a href="{% url customers:index %}">Customers</a></li>
  <li><a href="{% url suppliers:index %}">Suppliers</a></li>
  <li><a href="">Salesman</a></li>
  <li><a href="">User ID</a></li>
</ul>

<h4>Category & Code</h4>

{% endblock %}
