{% extends "taxes/base.html" %}

{% block taxes-breadcrumb-extra %}
&gt; Update
{% endblock %}

{% block taxes-content %}
<h3>Update Taxes: {{ tax }}</h3>

<form action="" method="post">{% csrf_token %}
  {% include "taxes/_form.html" %}
  <div class="actions">
    <input type="hidden" class="delete-entry-url" value="{% url taxes:delete %}" />
    <input type="button" id="delete-tax-{{ tax.pk }}" class="delete-button" value="Delete" />
    <input type="submit" class="update-button" value="Update" />
  </div>
</form>


{% endblock %}
