{{ form.non_field_errors }}
{% for field in form %}
  <div class="fieldWrapper {% if field.name == 'first_name' or field.name == 'last_name' %}customer-name{% endif %}">
    <label for="id_{{ field.html_name }}">{{ field.label }}:</label>
    {% if field.name == 'country' %}
      <span id="countries-ajax-output">{{ field }}</span>
      {% required_field field %}
      <span id="add-country" class="link">Add Country</span>
    {% else %}
      {{ field }}
      {% required_field field %}
    {% endif %}
    {{ field.errors }}
  </div>
{% endfor %}
