{{ form.non_field_errors }}

<div class="fieldWrapper">
  <label for="id_{{ form.customer_no.html_name }}">{{ form.customer_no.label }}:</label>
  {{ form.customer_no }}
  {% required_field form.customer_no %}
  {{ form.customer_no.errors }}
</div>

<div class="customer-name fieldWrapper">
  <label for="id_{{ form.first_name.html_name }}">{{ form.first_name.label }}:</label>
  {{ form.first_name }}
  {% required_field form.first_name %}
  {{ form.first_name.errors }}
</div>

<div class="customer-name fieldWrapper">
  <label for="id_{{ form.last_name.html_name }}">{{ form.last_name.label }}:</label>
  {{ form.last_name }}
  {% required_field form.last_name %}
  {{ form.last_name.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_{{ form.company_name.html_name }}">{{ form.company_name.label }}:</label>
  {{ form.company_name }}
  {% required_field form.company_name %}
  {{ form.company_name.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_{{ form.price_type.html_name }}">{{ form.price_type.label }}:</label>
  {{ form.price_type }}
  {% required_field form.price_type %}
  {{ form.price_type.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_{{ form.unit_number.html_name }}">{{ form.unit_number.label }}:</label>
  {{ form.unit_number }}
  {% required_field form.unit_number %}
  {{ form.unit_number.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_{{ form.street.html_name }}">{{ form.street.label }}:</label>
  {{ form.street }}
  {% required_field form.street %}
  {{ form.street.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_{{ form.city.html_name }}">{{ form.city.label }}:</label>
  {{ form.city }}
  {% required_field form.city %}
  {{ form.city.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_{{ form.country.html_name }}">{{ form.country.label }}:</label>
  <span id="countries-ajax-output">{{ form.country }}</span>
  {% required_field form.country %}
  <span id="add-country" class="link">Add Country</span>
  {{ form.country.errors }}
</div>

<fieldset class="phones">
  <legend>Phones</legend>
  {% include "contacts/phones.html" %}
</fieldset>

<fieldset class="emails">
  <legend>Emails</legend>
  {% include "contacts/emails.html" %}
</fieldset>

<div class="fieldWrapper">
  <label for="id_{{ form.vat_registration_number.html_name }}">{{ form.vat_registration_number.label }}:</label>
  {{ form.vat_registration_number }}
  {% required_field form.vat_registration_number %}
  {{ form.vat_registration_number.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_{{ form.business_registration_number.html_name }}">{{ form.business_registration_number.label }}:</label>
  {{ form.business_registration_number }}
  {% required_field form.business_registration_number %}
  {{ form.business_registration_number.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_{{ form.discount_percent.html_name }}">{{ form.discount_percent.label }}:</label>
  {{ form.discount_percent }}
  {% required_field form.discount_percent %}
  {{ form.discount_percent.errors }}
</div>
