{% extends "customers/base.html" %}

{% block customers-breadcrumb-extra %}
&gt; Update
{% endblock %}

{% block customers-content %}
<h3>Update Customer: {{ customer }}</h3>

<form action="" method="post">
  {% include "customers/_form.html" %}
  {% include "contacts/contact_list.html" %}
  <div class="actions">
    <input type="hidden" class="delete-entry-url" value="{% url customers:delete %}" />
    <input type="submit" class="update-button" value="Update" />
    <input type="button" id="delete-customer-{{ customer.pk }}" class="delete-button" value="Delete" />
  </div>
</form>

{% endblock %}
