{% extends "stocks/categories/base.html" %}

{% block categories-breadcrumb-extra %}
&gt; Update
{% endblock %}

{% block categories-content %}
<form action="" method="post">
  {% include "stocks/categories/_form.html" %}
  <div class="actions">
    <input type="hidden" class="delete-entry-url" value="{% url stocks:categories:delete %}" />
    <input type="submit" class="update-button" value="Update" />
    <input type="button" id="delete-category-{{ category.pk }}" class="delete-button" value="Delete" />
  </div>
</form>

{% endblock %}
