{% extends "base.html" %}

{% block sub-title %} - Foreign Suppliers{% endblock %}

{% block content %}

<a href="{% url home:index %}">Home</a> &gt; 
{% block foreign-suppliers-breadcrumb %}
<a href="{% url suppliers:index-foreign %}">Foreign Suppliers</a>
{% endblock %}
{% block foreign-suppliers-breadcrumb-extra %}
{% endblock %}

<div class="title-combo">
  <h3 class="title">Foreign Suppliers</h3>
  <div class="create-link">
    <a href="{% url suppliers:create %}">Create</a>
  </div>
</div>

{% block foreign-suppliers-content %}
{% endblock %}

{% endblock %}
