{% extends "suppliers/foreign/base.html" %}

{% block foreign-suppliers-breadcrumb %}
<a href="{% url suppliers:index %}">Foreign Suppliers</a>
{% endblock %}
{% block foreign-suppliers-breadcrumb-extra %}
&gt; Create
{% endblock %}

{% block foreign-suppliers-content %}
<h3>Create Foreign Supplier</h3>

<form action="" method="post">{% csrf_token %}
  {% include "suppliers/_form.html" %}
  {% include "contacts/contact_list.html" %}
  <p>
    <input type="submit" value="Create" />
  </p>
</form>
{% endblock %}
