{% extends "quotations/base.html" %}

{% block quotations-breadcrumb-extra %}
&gt; Update
{% endblock %}

{% block quotations-content %}
<h3>Update Quotation: {{ quotation.customer }}</h3>

<form action="" method="post">
  {% include "quotations/_form.html" %}
  {% include "contacts/contact_list.html" %}
  {% include "stock_carts/stock_cart_items.html" %}
  <div class="actions">
    <input type="hidden" class="delete-entry-url" value="{% url quotations:delete %}" />
    <input type="button" id="delete-quotation-{{ quotation.pk }}" class="delete-button" value="Delete" />
    <input type="submit" class="update-button" name="update" value="Update" />
    <input type="submit" class="update-button" name="convert-to-cash-sale" value="Convert to Cash Sale" />
    <input type="submit" class="update-button" name="convert-to-credit-sale" value="Convert to Credit Sale" />
  </div>
</form>


{% endblock %}
