<div id="home">
  <h2><a href="{% url home:index %}">Inventory Hub</a></h2>
</div>

{% if not user.is_anonymous %}
<div id="account-nav">
  <b>{{ user }}</b> |
  <a href="{% url hub-users:logout %}">Log out</a>
</div>

<div id="search-bar">
  <form action="{% url home:search %}" method="get">
    <select name="current-app">
      <option value="">---</option>
      {% for val, name in app_choices %}
      <option value="{{ val }}" {% if app_name == val %}selected{% endif %}>{{ name }}</option>
      {% endfor %}
    </select>
    <input type="text" name="q" />
    <input type="submit" value="Search" />
  </form>
</div>

<ul id="navigation-tabs">
  <li {% if app_name == 'stocks' %}class="selected"{% endif %}><a href="{% url stocks:index %}">File Commodity Datas</a></li>
  <li {% if app_name == 'sales' %}class="selected"{% endif %}><a href="{% url sales:index %}">Sales</a></li>
  <li {% if app_name == 'quotations' %}class="selected"{% endif %}><a href="{% url quotations:index %}">Purchases</a></li>
</ul>
{% endif %}

<div id="message-box">
  {% include "includes/messages.html" %}
</div>
