{% extends "sales/base.html" %}

{% block sales-breadcrumb %}
Sales
{% endblock %}

{% block sales-content %}
<h3>Sales</h3>

<ol>
  <li><a href="{% url sales:customer 'cash' %}">Create Cash Sale</a></li>
  <li><a href="{% url sales:customer 'credit' %}">Create Credit Sale</a></li>
</ol>

{% if cash_sales %}
  <h4>Cash Sales</h4>
  <ol>
  {% for sale in cash_sales %}
    <li><a href="{% url sales:update 'cash' sale.pk %}">{{ sale.date }} - {{ sale }}</a></li>
  {% endfor %}
  </ol>
{% endif %}

{% if credit_sales %}
  <h4>Credit Sales</h4>
  <ol>
  {% for sale in credit_sales %}
    <li><a href="{% url sales:update 'credit' sale.pk %}">{{ sale.date }} - {{ sale }}</a></li>
  {% endfor %}
  </ol>
{% endif %}

{% endblock %}
