{% extends "invoices/base.html" %}

{% block invoice-sub-header %}Quotation Invoice{% endblock %}
{% block invoice-edit-url %}{% url quotations:update quotation.pk %}{% endblock %}
{% block invoice-pdf-url %}{% url quotations:invoice quotation.pk %}?pdf{% endblock %}

{% block invoice-content %}

<div id="invoice-sub-title">
  <div id="invoice-info">
    Quotation Invoice
  </div>
  <div id="customer-info">
    <table>
      <tr>
        <td>Date: {{ quotation.date }}</td>
        <td>Invoice No: {{ quotation.invoice_no }}</td>
      </tr>
      <tr>
        <td>Clerk's Name: {{ quotation.sales_agent }}</td>
        <td>Customer Code: {{ quotation.customer }}</td>
      </tr>
    </table>
  </div>
</div>


{% endblock %}
