<div class="fieldWrapper">
  <label for="id_{{ form.item_code.html_name }}">Item Code:</label>
  {{ form.item_code }}
  {% required_field form.item_code %}
  {{ form.item_code.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_{{ form.description.html_name }}">Description:</label>
  {{ form.description }}
  {% required_field form.description %}
  {{ form.description.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_{{ form.item_name.html_name }}">Item Name:</label>
  {{ form.item_name }}
  {% required_field form.item_name %}
  {{ form.item_name.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_{{ form.colour.html_name }}">Colour:</label>
  <span id="colours-ajax-output">{{ form.colour }}</span>
  {% required_field form.colour %}
  <span id="add-colour" class="link">Add</span>
  {{ form.colour.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_{{ form.size.html_name }}">Size:</label>
  {{ form.size }}
  {% required_field form.size %}
  {{ form.size.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_{{ form.tonality.html_name }}">Tonality:</label>
  {{ form.tonality }}
  {% required_field form.tonality %}
  {{ form.tonality.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_{{ form.caliber.html_name }}">Caliber:</label>
  {{ form.caliber }}
  {% required_field form.caliber %}
  {{ form.caliber.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_category">Category:</label>
  <span id="categories-ajax-output">{{ form.category }}</span>
  {% required_field form.category %}
  <span id="add-category" class="link">Add Category</span>
  {{ form.category.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_retail_price">Retail price:</label>
  {{ form.retail_price }}
  {{ form.retail_price.errors }}
  per
  {{ form.retail_unit }}
  {{ form.retail_unit.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_wholesale_price">Wholesale price:</label>
  {{ form.wholesale_price }}
  {{ form.wholesale_price.errors }}
  per
  {{ form.wholesale_unit }}
  {{ form.wholesale_unit.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_dealer_price">Dealer price:</label>
  {{ form.dealer_price }}
  {{ form.delaer_price.errors }}
  per
  {{ form.dealer_unit }}
  {{ form.dealer_unit.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_special_price">Special price:</label>
  {{ form.special_price }}
  {{ form.special_price.errors }}
  per
  {{ form.special_unit }}
  {{ form.special_unit.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_pieces_per_box">Pieces per box:</label>
  {{ form.pieces_per_box }}
  {{ form.pieces_per_box.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_exempt_flag">Exempt flag:</label>
  {{ form.exempt_flag }}
  {{ form.exempt_flag.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_nonstock_flag">Nonstock flag:</label>
  {{ form.nonstock_flag }}
  {{ form.nonstock_flag.errors }}
</div>

<div class="fieldWrapper">
  <label for="id_country">Country:</label>
  <span id="countries-ajax-output">{{ form.country }}</span>
  {% required_field form.country %}
  <span id="add-country" class="link">Add Country</span>
  {{ form.country.errors }}
</div>
