{% extends "stocks/base.html" %}

{% block stocks-breadcrumb %}
File Commodity Datas
{% endblock %}

{% block stocks-content %}

<ul>
  <li><a href="{% url companies:index %}">Company's Profile</a></li>
  <li><a href="">File Commodity Datas</a></li>
  <li><a href="{% url stocks:categories:index %}">Categories</a></li>
  <li><a href="{% url customers:index %}">Customers</a></li>
  <li><a href="{% url suppliers:index %}">Suppliers</a></li>
  <li><a href="">Salesman</a></li>
  <li><a href="">User ID</a></li>
</ul>

<div class="title-combo">
  <h3 class="title">FCDs</h3>
  <div class="create-link">
    <a href="{% url stocks:create %}">Create</a>
  </div>
</div>

{% if stocks %}
<table id="stocks">
  <tr>
    <th>Item Code</th>
    <th>Description</th>
    <th>Category Code</th>
  </tr>
  {% for stock in stocks %}
  <tr>
    <td>{{ stock.item_code }}</td>
    <td><a href="{% url stocks:update stock.pk %}">{{ stock.description }}</a></td>
    <td>{{ stock.category.code }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}
