<table id="stock-items">
  <tr>
    <th>Stock</th>
    <th>Quantity</th>
    <th>Discount</th>
    <th>Delete</th>
  </tr>
  {% for stock_item in formset.forms %}
  <tr>
    {% for field in stock_item %}
      <td>{{ field }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% for stock_item in formset.forms %}
  <div>
  {{ stock_item }}
  {% if stock_item.nested %}
    {% for item in stock_item.nested %}
      {% for field in item %}
        <div>{{ field.label }}: {{ field }}</div>
      {% endfor %}
    {% endfor %}
  {% endif %}
  </div>
{% endfor %}
