{% extends "stocks/base.html" %}

{% block stocks-breadcrumb-extra %}
&gt; Update
{% endblock %}

{% block stocks-content %}
<h3>Update: {{ stock.item_code }}</h3>

<form action="" method="post">{% csrf_token %}
  {% include "stocks/_form.html" %}
  <div class="actions">
    <input type="hidden" class="delete-entry-url" value="{% url stocks:delete %}" />
    <input type="submit" class="update-button" value="Update" />
    <input type="button" id="delete-stock-{{ stock.pk }}" class="delete-button" value="Delete" />
  </div>
</form>

{% endblock %}
