{% extends "base.html" %}

{% block content %}
<form action="" method="post">
  {{ form.as_p }}
  <div id="email-output">
    {% include "contacts/ajax_email.html" %}
  </div>
  <div>
    <input type="hidden" id="ajax-email-url" value="{% url contacts:ajax-email %}" />
    <input type="hidden" id="ajax-remove-email-url" value="{% url contacts:ajax-remove-email %}" />
    <input type="button" id="add-email" value="Add Email" />
  </div>
  <input type="submit" value="Add" />
</form>

{% endblock %}
