<tr id="email_set-{{ i|default:"0" }}">
  <td class="address">
    <input id="id_email_set-{{ i|default:"0" }}-address" type="text" name="email_set-{{ i|default:"0" }}-address" maxlength="75" />
  </td>
  <td class="type">
    <select name="email_set-{{ i|default:"0" }}-type" id="id_email_set-{{ i|default:"0" }}-type">
      <option value="" selected="selected">---</option>
      {% for value, label in email_choices %}
      <option value="{{ value }}">{{ label }}</option>
      {% endfor %}
    </select>
  </td>
  {% if i %}
  <td class="delete">
    <input type="button" value="Remove" id="id_email_set-{{ i|default:"0" }}-remove" class="remove-email" />
  </td>
  {% endif %}
  <td class="warning">
    <input type="hidden" name="email_set-{{ i|default:"0" }}-pk" id="customer_email-{{ i|default:"0" }}-id" value="0" />
  </td>
</tr>

