<tr id="phone_set-{{ i|default:"0" }}">
  <td class="phone-number">
    <input id="id_phone_set-{{ i|default:"0" }}-number" type="text" name="phone_set-{{ i|default:"0" }}-number" maxlength="75" />
  </td>
  <td class="type">
    <select name="phone_set-{{ i|default:"0" }}-type" id="id_phone_set-{{ i|default:"0" }}-type">
      <option value="" selected="selected">---</option>
      {% for value, label in phone_choices %}
      <option value="{{ value }}">{{ label }}</option>
      {% endfor %}
    </select>
  </td>
  {% if i %}
  <td class="delete">
    <input type="button" value="Remove" id="id_phone_set-{{ i|default:"0" }}-remove" class="remove-phone" />
  </td>
  {% endif %}
  <td class="warning">
    <input type="hidden" name="phone_set-{{ i|default:"0" }}-pk" id="customer_phone-{{ i|default:"0" }}-id" value="0" />
  </td>
</tr>

