<table>
{% if email_dict %}
  {% for i, email in email_dict %}
  <tr id="email_set-{{ i }}">
    <td class="address">
      <input id="id_email_set-{{ i }}-address" type="text" name="email_set-{{ i }}-address" maxlength="75" value="{{ email.address }}"/>
    </td>
    <td class="type">
      <select name="email_set-{{ i }}-type" id="id_email_set-{{ i }}-type">
        <option value="" selected="selected">---</option>
        <option value="H" {% if email.email_type == 'H' %}selected{% endif %}>Home</option>
        <option value="W" {% if email.email_type == 'W' %}selected{% endif %}>Work</option>
      </select>
    </td>
    <td class="delete">
      {% if not forloop.first %}
      <input type="button" value="Remove" id="id_email_set-{{ i }}-remove" class="remove-email" />
      {% endif %}
    </td>
    <td class="warning">
      {% if not email.address %}Email address required{% endif %}
      {% if not email.email_type %}Email type required{% endif %}
      <input type="hidden" name="customer_email-{{ i }}-id" id="customer_email-{{ i }}-id" value="{{ email.id }}" />
    </td>
  </tr>
  {% endfor %}
{% else %}
  {% if emailsz %}
    {% for email in emails %}
    <tr id="email_set-{{ forloop.revcounter0 }}">
      <td class="address">
        <input id="id_email_set-{{ forloop.revcounter0 }}-address" type="text" name="email_set-{{ forloop.revcounter0 }}-address" maxlength="75" value="{{ email.address }}"/>
      </td>
      <td class="type">
        <select name="email_set-{{ forloop.revcounter0 }}-type" id="id_email_set-{{ forloop.revcounter0 }}-type">
          <option value="" selected="selected">---</option>
          <option value="H" {% if email.email_type == 'H' %}selected{% endif %}>Home</option>
          <option value="W" {% if email.email_type == 'W' %}selected{% endif %}>Work</option>
        </select>

      </td>
      <input type="hidden" name="customer_email-{{ forloop.revcounter0 }}-id" value="{{ email.id }}" />
    </tr>
    {% endfor %}
  {% else %}
  <tr id="email_set-0">
    <td class="address">
      <input id="id_email_set-0-address" type="text" name="email_set-0-address" maxlength="75" />
    </td>
    <td class="type">
      <select name="email_set-0-type" id="id_email_set-0-type">
        <option value="" selected="selected">---</option>
        <option value="H">Home</option>
        <option value="W">Work</option>
      </select>
    </td>
    <td class="warning">
      <input type="hidden" name="customer_email-0-id" value="0" />
    </td>

  </tr> 
  {% endif %}
{% endif %}
</table>

  <div>
    <input type="hidden" id="ajax-add-email-url" value="{% url contacts:ajax-add-email %}" />
    <input type="hidden" id="ajax-remove-email-url" value="{% url contacts:ajax-remove-email %}" />
    <input type="button" id="add-email" value="Add Another Email" />
  </div>
