<table id="phones">
{% if phone_dict %}
  {% for i, email in email_dict %}
  <tr id="email_set-{{ i }}">
    <td class="address">
      <input id="id_email_set-{{ i }}-address" type="text" name="email_set-{{ i }}-address" maxlength="75" value="{{ email.address }}"/>
    </td>
    <td class="type">
      <select name="email_set-{{ i }}-type" id="id_email_set-{{ i }}-type">
        <option value="" selected="selected">---</option>
        {% for value, label in email_choices %}
        <option value="{{ value }}" {% if email.email_type == value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
    </td>
    <td class="delete">
      {% if not forloop.first %}
      <input type="button" value="Remove" id="id_email_set-{{ i }}-remove" class="remove-email" />
      {% endif %}
    </td>
    <td class="warning">
      {% if not email.address %}Email address required{% endif %}
      {% if not email.email_type %}Email type required{% endif %}
      <input type="hidden" name="email_set-{{ i }}-pk" id="customer_email-{{ i }}-id" value="{{ email.id }}" />
    </td>
  </tr>
  {% endfor %}
{% else %}
  {% include "contacts/ajax_add_phone.html" %}
{% endif %}
</table>

  <div>
    <input type="hidden" id="ajax-add-email-url" value="{% url contacts:ajax-add-email %}" />
    <input type="hidden" id="ajax-remove-email-url" value="{% url contacts:ajax-remove-email %}" />
    <input type="button" id="add-email" value="Add Another Phone" />
  </div>
