<table id="phones">
{% if phone_dict %}
  {% for i, phone in phone_dict %}
  <tr id="phone_set-{{ i }}">
    <td class="phone-number">
      <input id="id_phone_set-{{ i }}-number" type="text" name="phone_set-{{ i }}-number" maxlength="75" value="{{ phone.number }}"/>
    </td>
    <td class="type">
      <select name="phone_set-{{ i }}-type" id="id_phone_set-{{ i }}-type">
        <option value="" selected="selected">---</option>
        {% for value, label in phone_choices %}
        <option value="{{ value }}" {% if phone.phone_type == value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
    </td>
    <td class="delete">
      {% if not forloop.first %}
      <input type="button" value="Remove" id="id_phone_set-{{ i }}-remove" class="remove-phone" />
      {% endif %}
    </td>
    <td class="warning">
      {% if not phone.number %}Phone number required{% endif %}
      {% if not phone.phone_type %}Phone type required{% endif %}
      <input type="hidden" name="phone_set-{{ i }}-pk" id="customer_phone-{{ i }}-id" value="{{ phone.id }}" />
    </td>
  </tr>
  {% endfor %}
{% else %}
  {% include "contacts/ajax_add_phone.html" %}
{% endif %}
</table>

  <div>
    <input type="hidden" id="ajax-add-phone-url" value="{% url contacts:ajax-add-phone %}" />
    <input type="hidden" id="ajax-remove-phone-url" value="{% url contacts:ajax-remove-phone %}" />
    <input type="button" id="add-phone" value="Add Another Phone" />
  </div>
